/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */


/*Colors 

Background: #eae7d2
Background Dark: #51473d
Button Normal: #797066
Button Actice: #eae7d2
Button Hover: #9c9084



*/



#container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color:#eae7d2;
}

#topbar{
    width:100%;
    background-color: #51473d;
    color:white;
    text-align:right;
    background-image: url("pics/coffey.jpg");
    background-size:100%;
    height: 200px;
}

#menu{
    font-family:verdana;
    width:100%;
    background-color:#51473d;
    float: left;
   
    
}

#menu li{
        background-color:#797066;
}

#menu a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:none;
    display:block;
    background-color:transparent;
    color:#eae7d2;
}

#menu a:hover{
    background-color:#9c9084;
    color:white;
}

.active{
    background-color:#eae7d2;
}

#menu ul{
    list-style:none;
    margin-left:-30px;
}

#menu li{
    float:left;
    margin-right: 2px;
    font-weight:normal;
}

#content{
    width:100%;
    background-color:#eae7d2;
    font-family: "Times New Roman";
    color:#797066;
}

#content h1{
    
    font-weight:normal;
}

#content h2{
    font-size: 14px;
    font-weight: normal;
}

#maincontent{
    width: 400px;
    float:left;
}

#maincontent p{
    font-size:14px;
    word-spacing:10px;
    line-height: 150%;
}

#subcontent{
    width:194px;
    float:left;
    word-spacing:5px;
    line-height: 150%;
    padding-top:20px;
    padding-left:5px;
    border-left-style:dashed;
    border-left-width: 1px;
}

#subcontent h1{
    font-size:18px;
}

#subcontent p{
    font-size: 12px;
}

#subcontent ul{
    list-style:none;
    margin-left: -40px;
    margin-top: -20px;
}

#subcontent a{
    color:#51473d;
}

img{
    float:left;
    margin-right:5px;
}